---
title: 'POL290'
subtitle: Grad civil wars seminar.
summary: Grad civil wars seminar.
authors:
- admin
tags:
- teaching
categories: []
date: "2022-02-18"
lastmod: "08 March, 2022"
featured: false
draft: false
bibliography: /Users/juan/Dropbox/github/whistle2/master.bib
csl: /Users/juan/Dropbox/websites/tellez-distill/chicago-syllabus-no-bib.csl
output:
  blogdown::html_page:
    toc: true
editor_options: 
  chunk_output_type: console
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>

<div id="TOC">
<ul>
<li><a href="#course-information">Course information</a></li>
<li><a href="#course-description">Course description</a></li>
<li><a href="#assignments">Assignments</a></li>
<li><a href="#schedule">Schedule</a>
<ul>
<li><a href="#week-1-mar-29-what-is-civil-war">Week 1 – Mar 29 :: What is civil war?</a>
<ul>
<li><a href="#required">Required</a></li>
<li><a href="#recommended">Recommended</a></li>
</ul></li>
<li><a href="#week-2-apr-5-causes-of-civil-war">Week 2 – Apr 5 : Causes of civil war</a>
<ul>
<li><a href="#required-1">Required</a></li>
</ul></li>
<li><a href="#week-3-apr-12-political-economy-of-conflict">Week 3 – Apr 12 : Political economy of conflict</a>
<ul>
<li><a href="#required-2">Required</a></li>
</ul></li>
<li><a href="#week-4-apr-19-rebel-groups-as-organizations">Week 4 – Apr 19 : Rebel groups as organizations</a>
<ul>
<li><a href="#required-3">Required</a></li>
</ul></li>
<li><a href="#week-5-apr-26-dynamics-of-violence-in-civil-wars">Week 5 – Apr 26 : Dynamics of violence in civil wars</a>
<ul>
<li><a href="#required-4">Required</a></li>
</ul></li>
<li><a href="#week-6-may-3-civil-war-duration-and-termination">Week 6 – May 3 : Civil war duration and termination</a></li>
<li><a href="#week-7-may-10-wartime-displacement-and-return">Week 7 – May 10 : Wartime displacement and return</a></li>
<li><a href="#week-8-may-17-peacekeeping-and-peacebuilding">Week 8 – May 17 : Peacekeeping and peacebuilding</a></li>
<li><a href="#week-9-may-24-political-and-social-consequences-of-war">Week 9 – May 24 : Political and social consequences of war</a></li>
<li><a href="#week-10-may-31-presentations">Week 10 – May 31 : Presentations</a></li>
</ul></li>
</ul>
</div>

<div id="course-information" class="section level1">
<h1>Course information</h1>
<p><i class="fas fa-user-graduate"></i> Juan Tellez (pronounced: “Teh-yes”)</p>
<p><i class="fas fa-envelope"></i> <a href="mailto:jftellez@ucdavis.edu">jftellez@ucdavis.edu</a></p>
<p><i class="fas fa-clock"></i> Tuesdays, 9:00 AM - 11:50 AM</p>
<p><i class="fas fa-home"></i> Kerr Hall 594</p>
</div>
<div id="course-description" class="section level1">
<h1>Course description</h1>
<p>This course is a graduate seminar on the study of political violence. The course will balance developing a background in classic texts while acquiring exposure to work at the frontier of research on violence.</p>
</div>
<div id="assignments" class="section level1">
<h1>Assignments</h1>
<ul>
<li><p>Weekly comments (10 percent): Each week you will post (at most) a half page of questions or bullet points comments on the readings. You can raise questions about theory, method, point out conflicts between readings, develop links with previous weeks’ readings, whatever. These needn’t be long and detailed, but they should be thoughtful. Due by XXX.</p></li>
<li><p>Two article reviews (30 percent): You will write two, three-page (or so, single-spaced) reviews. Your review should eschew summary in favor of critically evaluating the paper. The basic goal is to make a recommendation to an editor (me in this case) as to whether or not the paper should be published; note that these are the JMPs of recent PhDs who did well on the job market. Please review two two of these three papers:</p>
<ul>
<li>“They’re still here, he’s all gone: American Fatalities in Foreign Wars and Right-Wing Radicalization at Home”</li>
<li>“More than money: The political consequences of compensation”</li>
<li>“The Legacies of Atrocities and Who Fights”</li>
</ul></li>
<li><p>Research proposal (30 percent): 12 pages. See rubric. Due on XXX.</p></li>
<li><p>Data exploration (10 percent): You will provide exploratory data analysis of a dataset or replication file of your choice. Basic descriptives, visualize patterns, temporal and spatial limitations, approaches to merging with other datasets. You will turn in: cleaned dataset (.rds) and an Rmarkdown file to reproduce analysis.</p></li>
</ul>
</div>
<div id="schedule" class="section level1">
<h1>Schedule</h1>
<div id="week-1-mar-29-what-is-civil-war" class="section level2">
<h2>Week 1 – Mar 29 :: What is civil war?</h2>
<div id="required" class="section level3">
<h3>Required</h3>
<ul>
<li><span class="citation"><a href="#ref-kalyvas:balcells:2010" role="doc-biblioref">Stathis N Kalyvas and Laia Balcells, <span>“International System and Technologies of Rebellion: <span>H</span>ow the End of the Cold War Shaped Internal Conflict,”</span> <em>American Political Science Review</em> 104, no. 3 (2010): 415–429</a>.</span></li>
<li><span class="citation"><a href="#ref-blattman:miguel:2010" role="doc-biblioref">Christopher Blattman and Edward Miguel, <span>“Civil War,”</span> <em>Journal of Economic Literature</em> 48, no. 1 (2010): 3–57</a>.</span></li>
<li><span class="citation"><a href="#ref-sambanis:2004" role="doc-biblioref">Nicholas Sambanis, <span>“What Is Civil War?: <span>C</span>onceptual and Empirical Complexities of an Operational Definition,”</span> <em>Journal of Conflict Resolution</em> 48, no. 6 (2004): 814–858</a>.</span></li>
<li><span class="citation"><a href="#ref-kalyvas:straus:2020" role="doc-biblioref">Stathis Kalyvas and Scott Straus, <span>“Stathis Kalyvas on 20 Years of Studying Political Violence,”</span> <em>Violence: An International Journal</em> 1, no. 2 (2020): 389–407</a>.</span></li>
</ul>
</div>
<div id="recommended" class="section level3">
<h3>Recommended</h3>
</div>
</div>
<div id="week-2-apr-5-causes-of-civil-war" class="section level2">
<h2>Week 2 – Apr 5 : Causes of civil war</h2>
<div id="required-1" class="section level3">
<h3>Required</h3>
<ul>
<li><span class="citation"><a href="#ref-fearon:laitin:2003" role="doc-biblioref">James D. Fearon and David D. Laitin, <span>“Ethnicity, Insurgency, and Civil War,”</span> <em>American Political Science Review</em> 97, no. 1 (2003): 75–90</a>.</span></li>
<li><span class="citation"><a href="#ref-cederman:etal:2011" role="doc-biblioref">Lars-Erik Cederman, Nils B Weidmann, and Kristian Skrede Gleditsch, <span>“Horizontal Inequalities and Ethnonationalist Civil War: <span>A</span> Global Comparison,”</span> <em>American Political Science Review</em> 105, no. 3 (2011): 478–495</a>.</span></li>
<li><span class="citation"><a href="#ref-collier:hoeffler:2004" role="doc-biblioref">Paul Collier and Anke Hoeffler, <span>“Greed and Grievance in Civil War,”</span> <em>Oxford Economic Papers</em> 56 (2004): 563–595</a>.</span></li>
<li><span class="citation"><a href="#ref-carter:etal:2019" role="doc-biblioref">David B. Carter, Andrew C. Shaver, and Austin L. Wright, <span>“Places to Hide: Terrain, Ethnicity, and Civil Conflict,”</span> <em>The Journal of Politics</em> 81, no. 4 (2019): 1446–1465</a>.</span></li>
</ul>
</div>
</div>
<div id="week-3-apr-12-political-economy-of-conflict" class="section level2">
<h2>Week 3 – Apr 12 : Political economy of conflict</h2>
<div id="required-2" class="section level3">
<h3>Required</h3>
<ul>
<li><span class="citation"><a href="#ref-dube:vargas:2013" role="doc-biblioref">Oeindrila Dube and Juan F Vargas, <span>“Commodity Price Shocks and Civil Conflict: <span>E</span>vidence from Colombia,”</span> <em>The Review of Economic Studies</em> 80, no. 4 (2013): 1384–1421</a>.</span></li>
<li><span class="citation"><a href="#ref-dalbo:dalbo:2011" role="doc-biblioref">Ernesto Dal Bó and Pedro Dal Bó, <span>“Workers, Warriors, and Criminals: <span>S</span>ocial Conflict in General Equilibrium,”</span> <em>Journal of the European Economic Association</em> 9, no. 4 (2011): 646–677</a>.</span></li>
<li><span class="citation"><a href="#ref-sanchez:2020" role="doc-biblioref">Raúl Sánchez De La Sierra, <span>“On the Origins of the State: <span>S</span>tationary Bandits and Taxation in <span>E</span>astern <span>C</span>ongo,”</span> <em>Journal of Political Economy</em> 128, no. 1 (2020): 32–74</a>.</span></li>
</ul>
</div>
</div>
<div id="week-4-apr-19-rebel-groups-as-organizations" class="section level2">
<h2>Week 4 – Apr 19 : Rebel groups as organizations</h2>
<div id="required-3" class="section level3">
<h3>Required</h3>
<ul>
<li><span class="citation"><a href="#ref-weinstein:2007" role="doc-biblioref">Jeremy M. Weinstein, <em>Inside Rebellion: <span>T</span>he Politics of Insurgent Violence</em> (Cambridge: Cambridge University Press, 2007)</a>.</span></li>
<li><span class="citation"><a href="#ref-parkinson:2013" role="doc-biblioref">Sarah Elizabeth Parkinson, <span>“Organizing Rebellion: <span>R</span>ethinking High-Risk Mobilization and Social Networks in War,”</span> <em>American Political Science Review</em> 107, no. 3 (2013): 418–432</a>.</span></li>
<li><span class="citation"><a href="#ref-arjona:2016" role="doc-biblioref">Ana Arjona, <em>Rebelocracy</em> (Cambridge University Press, 2016)</a>.</span></li>
</ul>
</div>
</div>
<div id="week-5-apr-26-dynamics-of-violence-in-civil-wars" class="section level2">
<h2>Week 5 – Apr 26 : Dynamics of violence in civil wars</h2>
<div id="required-4" class="section level3">
<h3>Required</h3>
<ul>
<li><span class="citation"><a href="#ref-kalyvas:2006" role="doc-biblioref">Stathis Kalyvas, <em>The Logic of Violence in Civil War</em> (New York: Cambridge University Press, 2006)</a>.</span></li>
<li><span class="citation"><a href="#ref-condra:etal:2018" role="doc-biblioref">Luke N. Condra et al., <span>“The Logic of Insurgent Electoral Violence,”</span> <em>American Economic Review</em> 108, no. 11 (2018): 3199–3231</a>.</span></li>
</ul>
</div>
</div>
<div id="week-6-may-3-civil-war-duration-and-termination" class="section level2">
<h2>Week 6 – May 3 : Civil war duration and termination</h2>
<ul>
<li><span class="citation"><a href="#ref-mattes:savun:2010" role="doc-biblioref">Michaela Mattes and Burcu Savun, <span>“Information, Agreement Design, and the Durability of Civil War Settlements,”</span> <em>American Journal of Political Science</em> 54, no. 2 (2010): 511–524</a>.</span></li>
<li><span class="citation"><a href="#ref-cunningham:2006" role="doc-biblioref">David E. Cunningham, <span>“Veto Players and Civil War Duration,”</span> <em>American Journal of Political Science</em> 50, no. 4 (2006): 875–892</a>.</span></li>
<li><span class="citation"><a href="#ref-toft:2010" role="doc-biblioref">Monica Duffy Toft, <em>Securing the Peace: <span>T</span>he Durable Settlement of Civil Wars</em> (Princeton: Princeton University Press, 2010)</a>.</span></li>
</ul>
</div>
<div id="week-7-may-10-wartime-displacement-and-return" class="section level2">
<h2>Week 7 – May 10 : Wartime displacement and return</h2>
<ul>
<li><span class="citation"><a href="#ref-steele:2017" role="doc-biblioref">Abbey Steele, <em>Democracy and Displacement in <span>C</span>olombia’s Civil War</em> (Cornell University Press, 2017)</a>.</span></li>
<li><span class="citation"><a href="#ref-mcnamee:2018" role="doc-biblioref">Lachlan McNamee, <span>“Mass Resettlement and Political Violence: <span>E</span>vidence from <span>R</span>wanda,”</span> <em>World Politics</em> 70, no. 4 (2018): 595–644</a>.</span></li>
</ul>
</div>
<div id="week-8-may-17-peacekeeping-and-peacebuilding" class="section level2">
<h2>Week 8 – May 17 : Peacekeeping and peacebuilding</h2>
<ul>
<li><span class="citation"><a href="#ref-walter:etal:2021" role="doc-biblioref">Barbara F. Walter, Lise Morje Howard, and V. Page Fortna, <span>“The Extraordinary Relationship Between Peacekeeping and Peace,”</span> <em>British Journal of Political Science</em> 51, no. 4 (2021): 1705–1722</a>.</span></li>
<li><span class="citation"><a href="#ref-matanock:2017" role="doc-biblioref">Aila M. Matanock, <span>“Bullets for Ballots: <span>E</span>lectoral Participation Provisions and Enduring Peace After Civil Conflict,”</span> <em>International Security</em> 41, no. 4 (2017): 93–132</a>.</span></li>
</ul>
</div>
<div id="week-9-may-24-political-and-social-consequences-of-war" class="section level2">
<h2>Week 9 – May 24 : Political and social consequences of war</h2>
<ul>
<li><span class="citation"><a href="#ref-bauer:etal:2016" role="doc-biblioref">Michal Bauer et al., <span>“Can War Foster Cooperation?”</span> <em>Journal of Economic Perspectives</em> 30, no. 3 (2016): 249–74</a>.</span></li>
</ul>
</div>
<div id="week-10-may-31-presentations" class="section level2">
<h2>Week 10 – May 31 : Presentations</h2>
</div>
</div>
